@import "normalize";

$purple: #38003c;
$white: #ffffff;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0d3a58;
  box-sizing: border-box;
}
.player__card-container {
  padding: 20px;
  .player__card {
    background: $white url("../images/background-pattern.png") no-repeat;
    width: 300px;
    min-height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .player__card-select {
    height: 40px;
    padding: 0 20px;
    width: 90%;
    margin-top: 15px;
  }

  .player__card-top {
    align-items: center;
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
  }

  .player__card-bottom {
    background: #e90052;
    display: flex;
    min-height: 300px;
    flex-direction: column;
    justify-content: space-between;
  }

  .player__body {
    color: $white;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 15px auto 15px;
  }

  .player__card-value {
    font-size: 14px;
  }

  .player__card-badge-text {
    float: left;
    text-indent: -9999px;
  }

  .player__card-stats-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    justify-content: flex-end;
    margin-bottom: 15px;
    text-transform: capitalize;
  }

  .player__card-stats {
    color: $purple;
    background: #eaeaea;
    box-shadow: 0 0 10px #999;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 3px;
    &-data {
      font-weight: bold;
      font-size: 16px;
    }
  }

  .player__card-image {
    display: flex;
    align-self: flex-start;
    padding-left: 10px;
  }

  .player__card--image {
    max-height: 210px;
    display: block;
    bottom: 0;
  }

  .player__badge {
    position: absolute;
    top: 237px;
    right: 15px;
  }

  .player__card-badge {
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    background-image: url("../images/badges_sprite2.png");
    background-repeat: no-repeat;

    &--leicester {
      background-position: 0px 0px;
    }
    &--arsenal {
      background-position: -100px -100px;
    }
    &--spurs {
      background-position: -500px -1000px;
    }
    &--man-utd {
      background-position: -600px -800px;
    }
    &--man-city {
      background-position: -800px -700px;
    }
  }
}
